@using Microsoft.AspNetCore.Identity
@using webMVC.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"
        class="navbar-right">
        <ul class="nav navbar-nav navbar-right align-items-center d-flex">
            <li class="nav-item position-relative d-flex align-items-center">
                <a asp-area="Identity" asp-controller="Manage" asp-action="Index"
                    class="d-flex align-items-center text-decoration-none">
                    <strong class="nav-link position-relative user-name mb-0 ms-2">
                        <i class="fa fa-user me-1"></i>
                        @UserManager.GetUserName(User)
                    </strong>
                    <img src="https://2sao.vietnamnetjsc.vn//2016/01/27/09/43/hinh-anh-ki-thu-khi-bong-bong-dong-bang-lung-linh-truoc-anh-mat-troi_1.jpg"
                        alt="Avatar" class="img-avatar-user">
                </a>
                <!-- Bảng tùy chọn -->
                <div class="dropdown-menu-custom">
                    <p data-bs-toggle="modal" data-bs-target="#logoutModal" class="mb-0">
                        Đăng xuất
                    </p>
                    <p class="mb-0">
                        Thông tin
                    </p>
                    <p class="">zz
                        Liên hệ
                    </p>
                </div>
            </li>
        </ul>
    </form>




    @await Html.PartialAsync("_LogoutModal")
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ">
            <a class="btn navbar-btn navbar-link btn-primary me-3" asp-area="Identity" asp-controller="Account"
                asp-action="Login">
                Đăng nhập
            </a>
        </li>
        <li class="nav-item ">
            <a class="btn navbar-btn navbar-link btn-primary me-3" asp-area="Identity" asp-controller="Account"
                asp-action="Register">
                Đăng ký
            </a>
        </li>
    </ul>
}