<div class="modal fade" id="removePhoneModal" tabindex="-1" aria-labelledby="removePhoneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removePhoneModalLabel">Xác nhận Xóa điện thoại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn Xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-cancel" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary"
                    onclick="document.getElementById('removePhoneForm').submit();">
                    Xóa
                </button>
            </div>
        </div>
    </div>
</div> 
