@{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}

<h2>@ViewData["Title"].</h2>
<p>
    Bạn đã đặt lại mật khẩu,
    <a asp-controller="Account" asp-action="Login">
        bấm vào đây để đăng nhập
    </a>
</p>
