.app-navbar {
  background: rgb(97, 209, 97);
  padding: 16px;
}
.app-navbar .text-dark {
  color: black !important;
  font-size: large;
  font-weight: 400;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #a57dea;
}
.app-navbar .navbar-brand:hover {
  color: #d727da !important;
}
.app-navbar .dropdown-toggle {
  border-color: #a562ad;
  color: #fff;
}

.contact-firstcol {
  background-color: #9854a0;
  color: rgb(208, 87, 87);
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: #9854a0 !important;
  border-color: #9854a0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(244, 242, 242);
  color: #1d1d1f;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.control-label {
  margin-top: 16px;
  margin-bottom: 8px;
}

.btn-cancel {
  background-color: rgb(168, 166, 166);
}
.btn-cancel :hover {
  background-color: gray;
}

a {
  text-decoration: none;
}

.margin {
  margin: 8px 0;
}