@charset "UTF-8";
.app-navbar {
  background: rgb(97, 209, 97);
  padding: 16px;
}
.app-navbar .text-dark {
  color: black !important;
  font-size: large;
  font-weight: 400;
}
.app-navbar .text-dark:hover {
  color: white !important;
}
.app-navbar .navbar-brand {
  color: #a57dea;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 40px;
}
.app-navbar .navbar-brand:hover {
  color: #d727da !important;
}
.app-navbar .dropdown-toggle {
  border-color: #a562ad;
  color: #fff;
}

.contact-firstcol {
  background-color: #9854a0;
  color: rgb(208, 87, 87);
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.contact-firstcol h4 {
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
}
.contact-firstcol img {
  max-width: 100px;
}

.formcontact label {
  font-weight: 700;
}
.formcontact .btn-primary {
  background-color: #9854a0 !important;
  border-color: #9854a0;
}

dl.row {
  margin-bottom: 1rem;
}

dt.col-sm-4 {
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
}

dd.col-sm-6 {
  margin-bottom: 0;
}

.btn-sm {
  margin-top: 5px;
  font-size: 14px;
  padding: 8px 12px;
}

section {
  margin-bottom: 2rem;
}

.text-success {
  color: #28a745;
  font-weight: bold;
}

.auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  text-align: center;
}

.auth-title {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 12px;
}

.auth-content {
  width: 100%; /* Đảm bảo các nút chiếm toàn bộ chiều ngang */
}

.auth-content p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #6c757d; /* Màu xám nhạt hơn cho văn bản */
}

/* Nút */
.btn {
  font-weight: 600;
  margin-bottom: 8px; /* Khoảng cách giữa các nút */
}

.btn-sm {
  font-size: 14px;
  padding: 8px 12px;
}

/* Đáp ứng */
@media (max-width: 768px) {
  .auth-section {
    margin-bottom: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(244, 242, 242);
  color: #1d1d1f;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.control-label {
  margin-top: 16px;
  margin-bottom: 8px;
}

.btn-cancel {
  background-color: rgb(168, 166, 166);
}
.btn-cancel :hover {
  background-color: gray;
}

a {
  text-decoration: none;
}

.margin {
  margin: 8px 0;
}