@model webMVC.Models.Contact.ContactModel

@{
    ViewData["Title"] = "Gửi thông tin liên hệ";
    Layout = "_Layout";
}


<div class="row mt-5">
    <div class="col-md-4">
        <div class="contact-firstcol p-2 h-100">
            <img src="~/img/contact.png" />
            <h2>@ViewData["Title"]</h2>
            <h4>Chúng tôi luôn lắng nghe các ý kiến của bạn !</h4>
        </div>
    </div>
    <div class="col-md-8 center">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3 mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group  mt-3 mb-3">
                <label asp-for="Message" class="control-label"></label>
                <textarea rows="5" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Gửi liên hệ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
